body {
    
    background-size: center;
    background-position: inherit;
    background: linear-gradient(30deg,#e256d6, #542450, #643e96);
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
  
  .map-weather-container {
    display: flex;
    flex-direction: column; 
  }
  
  .map-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  .weather-section{
  
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  

  .Map-size-0{
    margin-left: 20%;
    width: 1900px;
    
  }
  

  .Container-for-Map{
    display: flex;
    flex-direction: column;
    justify-content: space-;
  }


  .button-container{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .Explore-button{
    width: 300px;
    height: 7vh;
    border: 2px solid black;
    border-radius: 13px;
    background-color: transparent;
  }
.Explore-button:hover{
  background: linear-gradient(45deg, #6f8cdd, #3C2A48); 
  color: white;
  border: 3px solid white;
}
