body {
  
  

  
  height: auto;
  display: flex;
  flex-direction: column;
}



.map-weather-container {
  display: flex;
  flex-direction: column; 
}

.map-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.weather-section{

  display: flex;
  flex-direction: row;
  justify-content: center;
}


.navbar {
  background-color: rgba(33, 33, 33, 0.8); 
  transition: background-color 0.3s ease;
 
}



.sticky-navbar {
  background-color: rgb(126, 121, 121); 
  color: aliceblue;

}


.navbar-transparent {
  background-color: rgba(219, 218, 218, 0.4); 
  color: aliceblue;
 
}

